@font-face {
    font-family: 'roman';
    src: local('Square 721 Condensed BT'), local('Square721BT-RomanCondensed'),
        url('Square721BT-RomanCondensed.woff2') format('woff2'),
        url('Square721BT-RomanCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'bold';
    src: local('Square 721 Bold Condensed BT'), local('Square721BT-BoldCondensed'),
        url('Square721BT-BoldCondensed.woff2') format('woff2'),
        url('Square721BT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Square721 Cn BT';
    src: local('Square 721 Bold Condensed BT'), local('Square721BT-BoldCondensed'),
        url('Square721BT-BoldCondensed.woff2') format('woff2'),
        url('Square721BT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

